header{
    background-color: rgb(1, 246, 1);
    color: rgb(1, 232, 249);
    text-align: center;
}

main{
    background-color: rgb(1, 232, 249);
    color: rgb(1, 246, 1);
    text-align: center;
}