header{
    background-color: rgb(38, 136, 216);
    color: rgba(6, 11, 56, 0.842);
    text-align: center;
}

main{
    background-color: rgb(38, 136, 216);
    color: rgba(6, 11, 56, 0.842);
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
}